#-webkit-web-inspector .toolbar-icon {
  display: none !important;
  background-image: url() !important;
}
#-webkit-web-inspector #toolbar {
  height: 25px !important;
}
#-webkit-web-inspector #main {
  top: 25px !important;
}
#-webkit-web-inspector .webkit-html-comment {
  color: #7C7C7C !important;
}
#-webkit-web-inspector .webkit-html-tag {
  color: #0040FF !important;
}
#-webkit-web-inspector .webkit-html-attribute-name {
  color: #000088 !important;
}
#-webkit-web-inspector .webkit-html-attribute-value {
  color: #FF001E !important;
}
#-webkit-web-inspector .webkit-html-text-node,
#-webkit-web-inspector .webkit-html-css-node {
  color: #C2C3C3 !important;
}
#-webkit-web-inspector .webkit-html-js-node {
  color: #C2C3C3 !important;
}
#-webkit-web-inspector .webkit-html-resource-link,
#-webkit-web-inspector .webkit-html-external-link {
  color: #e60000 !important;
}
#-webkit-web-inspector .webkit-css-comment {
  color: #7C7C7C !important;
}
#-webkit-web-inspector .webkit-css-selector,
#-webkit-web-inspector .styles-selector {
  color: #333 !important;
}
#-webkit-web-inspector .webkit-css-property {
  color: #179801 !important;
}
#-webkit-web-inspector .webkit-css-keyword {
  color: #e90101 !important;
}
#-webkit-web-inspector .webkit-css-number,
#-webkit-web-inspector .properties-tree .value {
  color: #0d01e9 !important;
}
#-webkit-web-inspector .webkit-css-important,
#-webkit-web-inspector .webkit-css-at-rule {
  color: #B094BB !important;
}
#-webkit-web-inspector .webkit-css-string {
  color: #0d01e9 !important;
}
#-webkit-web-inspector .webkit-css-url {
  color: #e60000 !important;
}
#-webkit-web-inspector .webkit-line-content,
#-webkit-web-inspector .webkit-javascript-ident {
  color: #020303 !important;
}
#-webkit-web-inspector .webkit-javascript-keyword {
  color: #e90101 !important;
}
#-webkit-web-inspector .webkit-javascript-comment {
  color: #7C7C7C !important;
}
#-webkit-web-inspector .webkit-javascript-string {
  color: #0e5c00 !important;
}
#-webkit-web-inspector .webkit-javascript-number {
  color: #257500 !important;
}
#-webkit-web-inspector .webkit-javascript-regexp {
  color: #C96666 !important;
}
#-webkit-web-inspector .section .properties .name,
#-webkit-web-inspector .event-properties .name {
  color: #324b62 !important;
}
